<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>pet:
        <select  #comboBox id="combo-box" id="comboBoxPets" (input)="update(comboBox.value)" name="pet">
          <option hidden disabled selected value value="-1">-- Choose a pet --</option>
          <option *ngFor="let pet of pets" value="{{pet.id}}">{{pet.name}}</option>
        </select>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>